.scene-card .plugin-quick-sentiment {
    bottom: 2rem;
    position: absolute;
    right: 0
}

.scene-card .plugin-quick-sentiment .watch-later {
    color: #137cbd
}

.plugin-quick-sentiment .favorite-button.not-favorite {
    opacity: 0;
    transition: opacity .5s
}

.scene-card:hover .plugin-quick-sentiment .favorite-button.not-favorite,
.scene-card:active .plugin-quick-sentiment .favorite-button.not-favorite {
    opacity: 1;
    transition: opacity .5s
}